
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-bottom">
    <div class="wrap">
        <div class="single">
            <div class="heading">
                <h3>Về chúng tôi</h3>
                <p>
                    Được thành lập năm 1995, Ford Việt Nam là công ty liên doanh giữa Tập đoàn Ford Motor có trụ sở ở Michigan, Hoa Kỳ (75%) và Công ty Diesel Sông Công (25%) với tổng vốn đầu tư đến nay là hơn 126 triệu USD. Ford Việt Nam tự hào là công ty Hoa Kỳ đầu tiên đầu tư vào Việt Nam kể từ khi hai quốc gia bình thường hóa quan hệ ngoại giao.
                    Hoạt động của Ford tại Việt Nam bao gồm lắp ráp xe hơi, tiếp thị, bán hàng và chăm sóc khách hàng. Bên cạnh hai văn phòng đại diện tại Hà Nội và TP. Hồ Chí Minh, Ford vận hành nhà máy lắp ráp được đặt tại Hải Dương (cách Hà Nội 55km) với công suất đạt 14.000 xe một năm.
                    Ford Việt Nam hiện đang có khoảng 700 cán bộ công nhân viên tại các trụ sở ở Hà Nội, TP. Hồ Chí Minh và nhà máy ở Hải Dương; cùng với đó là hơn 5.000 lao động tại hệ thống các đại lý ủy quyền và trung tâm dịch vụ trên toàn quốc.
                    Ford cam kết sử dụng mọi nguồn lực toàn cầu của mình để đem đến cho khách hàng Việt Nam những sản phẩm ưu việt và trải nghiệm tuyệt vời, đó là các dòng sản phẩm xe du lịch, xe thương mại, xe bán tải với các tính năng vượt trội, thiết kế hiện đại, thông minh, an toàn, chất lượng và tiết kiệm nhiên liệu. Hoạt động tại Việt Nam, Ford cam kết đóng góp vào sự phát triển bền vững của cộng đồng lân cận, cả về kinh tế và xã hội.
                </p>
                <p>
                    Các dòng sản phẩm hiện nay của Ford tại Việt Nam:
                </p>
                <p>   Ranger – Là sản phẩm xe bán tải bán chạy nhất tại Việt Nam, với gần 50% thị phần trong phân khúc xe bán tải trong nước. Ford Ranger với thương hiệu toán cầu “Built Ford Tough” đã tái định nghĩa phân khúc, đồng thời đưa ra những chuẩn mực mới về thiết kế, hoàn thiện và tiện nghi cho dòng xe bán tải. Ranger Mới được ra mắt vào tháng 8 năm 2018 với nhiều công nghệ tiên tiến như động cơ Bi-turbo và hộp số tự động 10 cấp lần đầu tiên xuất hiện trong phân khúc. Phiên bản hiệu năng cao Ranger Raptor được ra mắt vào tháng 10 năm 2018 đã giúp củng cố vị thế dẫn đầu của Ranger trong phân khúc bán tải đầy cạnh tranh.</p>
                <p>   Explorer – là sản phẩm SUV được nhập khẩu trực tiếp từ Hoa Kỳ, được trang bị động cơ EcoBoost 2.3L, ngay từ khi ra mắt thị trường năm 2017, Ford Explorer đã liên tiếp dẫn đầu phân khúc SUV hạng sang.</p>
                <p>   EcoSport – sản phẩm thừa hưởng thiết kế thực tiễn, đa dụng của sản phẩm SUV với thiết kế gọn gàng của dòng xe du lịch để tạo ra một phân khúc hoàn toán mới. Sản phẩm EcoSport Mới được trang bị động cơ và hộp số hoàn toàn mới (Động cơ 1.0L EcoBoost hoặc 1.5L Dragon) được ra mắt thị trường vào đầu tháng 3 năm 2018.</p>
                <p>   Transit – Đã liên tiếp dẫn đầu phân khúc xe thương mại trong suốt 3 năm vừa qua, Ford Transit với sự bền bỉ, đa dụng đem đến nhiều giá trị cho khách hàng doanh nghiệp hoạt động trong nhiều lĩnh vực khác nhau.</p>
                <p>   Everest – Đã tái định nghĩa phân khúc xe thể thao đa dụng, với thiết kế khỏe khoắn, công nghệ tiên tiến và khả năng vận hành xuất sắc trên cả đường bằng và đường địa hình. Ford Everest có nội thất cao cấp và tiện nghi cho cả 7 hành khách trên xe. Everest Mới được ra mắt vào tháng 8 năm 2018 với nhiều công nghệ tiên tiến như động cơ Bi-turbo và hộp số tự động 10 cấp lần đầu tiên xuất hiện trong phân khúc.</p>
                <p>   Focus – là một trong những sản phẩm bán chạy nhất trên toán cầu. Ford Focus Hoàn Toàn Mới được trang bị động cơ 1.5L EcoBoost, nhiều công nghệ thông minh, cùng giá bán hấp dẫn, phù hợp với thị trường Việt Nam.</p>

            </div>
            <div class="about-top">
                <div class="about-topgrids">
                    <div class="about-topgrid1">
                        <h3>Tìm xe</h3>
                        <img src="~/web/images/pic-0.jpg" title="name">
                        <h5>Xe bán tải Ranger.</h5>
                        <p>
                            Thiết kế đa năng
                            Ranger Mới với thiết kế phía trước mạnh mẽ hơn, nội thất tiện nghi cùng những tính năng mới giúp cuộc sống của bạn dễ dàng hơn. Ranger Mới là chiếc xe bán tải được trang bị tính năng Hỗ trợ Nâng Cửa hậu thùng xe giúp cho việc chất dỡ hàng hóa nhẹ nhàng hơn.
                        </p>
                        <p>
                            Khả năng toàn diện
                            Lội nước? Không vấn đề. Tải nặng? Quá dễ. Đổ đèo hay cát trượt? Thẳng tiến thôi. Với Khả năng lội nước sâu đến 800mm1, sức kéo hàng đầu cùng Khóa vi sai Cầu sau Điện, Ranger dễ dàng vượt mọi thách thức..
                        </p>
                        <p>
                            <a href="/Home/XeRanger" class="btn btn-primary">Đọc thêm</a>
                        </p>
                    </div>
                </div>
                <div class="about-histore">
                    <h3>Lịch sử công ty</h3>
                    <div class="historey-lines">
                        <ul>
                            <li>
                                <span>2010 &nbsp;-</span>
                            </li>
                            <li>
                                <p>
                                    Từ vị trí thứ 7 trên thị trường khi bắt đầu hoạt động tại Việt Nam năm 2010, Ford đã phát triển vững chắc, có những chuyển biến đáng kể về chất lượng dịch vụ, và từng bước mang lại các trải nghiệm tuyệt vời cho khách hàng. Trong 3 năm qua, Ford luôn là một trong những thương hiệu xe hơi có tốc độ phát triển nhanh nhất thị trường. Doanh số kết thúc năm 2018 với 24.636 xe Ford được giao tới tay khách hàng, đạt thị phần 8.6%.
                                </p>
                            </li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <div class="historey-lines">
                        <ul>
                            <li>
                                <span>2011 &nbsp;-</span>
                            </li>
                            <li>
                                <p>
                                    Car Sale liên tục mở rộng hệ thống đại lý ủy quyền và trung tâm dịch vụ, với 41 cơ sở trên toàn quốc (tính đến tháng 11/2011).
                                </p>
                            </li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <div class="historey-lines">
                        <ul>
                            <li>
                                <span>2013 &nbsp;-</span>
                            </li>
                            <li>
                                <p>
                                    Ford là nhà sản xuất ô tô đầu tiên ở Việt Nam đạt chứng chỉ chất lượng ISO 9001, ISO 14001 & QS 9000 và ISO/TS16949 – 2002.
                                </p>
                            </li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <div class="historey-lines">
                        <ul>
                            <li>
                                <span>2015 &nbsp;-</span>
                            </li>
                            <li>
                                <p>
                                    Kể từ năm 1995, Ford đã nhận được nhiều bằng khen và giải thưởng do chính phủ Việt Nam trao tặng, trong đó có Huân chương Lao động hạng nhì năm 2015, Huân chương Lao động hạng ba năm 2010, và giải thưởng Rồng Vàng 15 năm liên tiếp.
                                </p>
                            </li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <div class="historey-lines">
                        <ul>
                            <li>
                                <span>2017 &nbsp;-</span>
                            </li>
                            <li>
                                <p>
                                    Car Sale là một trong những nhà đầu tư đóng góp nhiều nhất vào ngân sách của tỉnh Khánh Hòa – nơi Car Sale đặt nhà máy lắp ráp.
                                </p>
                            </li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="about-services">
                    <h3>Sản phẩm mới</h3>
                    <div class="client">
                        <div class="about-team-left">
                            <a href="#">
                                <img src="~/web/images/pic-0.jpg" title="cars">
                            </a>
                        </div>
                        <div class="about-team-right">
                            <p>
                                Thiết kế đa năng
                            </p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="client">
                        <div class="about-team-left">
                            <a href="#">
                                <img src="~/web/images/pic-6.jpg" title="cars">
                            </a>
                        </div>
                        <div class="about-team-right">
                            <p>
                                Thiết kế đa năng
                            </p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="client">
                        <div class="about-team-left">
                            <a href="#">
                                <img src="~/web/images/pic-10.jpg" title="cars">
                            </a>
                        </div>
                        <div class="about-team-right">
                            <p>
                                Thiết kế đa năng
                            </p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="client">
                        <div class="about-team-left">
                            <a href="#">
                                <img src="~/web/images/pic-20.jpg" title="cars">
                            </a>
                        </div>
                        <div class="about-team-right">
                            <p>
                                Thiết kế đa năng
                            </p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

