@model WebCar.Areas.Admin.Models.Entities.Xe
@{
    ViewData["Title"] = "ChiTietXe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Cars Sale a Auto mobile Category Website Template | Single :: w3layouts</title>
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="~/web/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function () {
			$(".dropdown img.flag").addClass("flagvisibility");

			$(".dropdown dt a").click(function () {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function () {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
				$("#result").html("Selected value is: " + getSelectedValue("sample"));
			});

			function getSelectedValue(id) {
				return $("#" + id).find("dt a span.value").html();
			}

			$(document).bind('click', function (e) {
				var $clicked = $(e.target);
				if (!$clicked.parents().hasClass("dropdown"))
					$(".dropdown dd ul").hide();
			});


			$("#flagSwitcher").click(function () {
				$(".dropdown img.flag").toggleClass("flagvisibility");
			});
		});
    </script>
    <script type="text/javascript" src="~/web/js/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="~/web/css/global.css">
    <!--thumb slider--->
    <script src="~/web/js/responsiveslides.min.js"></script>
    <script>
		// You can also use "$(window).load(function() {"
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				manualControls: '#slider3-pager',
			});
		});
    </script>
    <!---thumb slider--->
</head>
<div class="header-bottom">
    <div class="wrap">
        <div class="single">
            <div class="box_wrapper">
                <h1>@Model.NameCar</h1>
            </div>
            <div class="single-top">
                <div class="thum-main">
                    <div class="slider">
                        <img src="~/Images/@Model.ImageName" asp-append-version="true">
                    </div>
                </div>
                <div class="grid span_2_of_3">
                    @Html.Raw(Model.NoiDung)
                </div>
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
            <div class="links">
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/web/images/blog-icon1.png" title="date">
                            <span>june 14, 2013</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/web/images/blog-icon2.png" title="Admin">
                            <span>admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/web/images/blog-icon3.png" title="Comments">
                            <span>No comments</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/web/images/blog-icon4.png" title="Lables">
                            <span>View posts</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/web/images/blog-icon5.png" title="permalink">
                            <span>permalink</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="team">
                <h2>Related Posts</h2>
                <div class="section group">
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="~/web/images/pic14.jpg" alt="" />
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="~/web/images/pic15.jpg" alt="" />
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="~/web/images/pic16.jpg" alt="" />
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="~/web/images/pic17.jpg" alt="" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="leave-comment">
                    <a href="#" name="comment">Leave a Comment</a>
                </div>
                <div class="comments-area">
                    <form>
                        <p>
                            <label>Name</label>
                            <span>*</span>
                            <input type="text" value="">
                        </p>
                        <p>
                            <label>Email</label>
                            <span>*</span>
                            <input type="text" value="">
                        </p>
                        <p>
                            <label>Website</label>
                            <input type="text" value="">
                        </p>
                        <p>
                            <label>Subject</label>
                            <span>*</span>
                            <textarea></textarea>
                        </p>
                        <p>
                            <input type="submit" value="Post">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

